.hero {
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 0px 10%;
}


.hero h1.title{
    font-size: 3rem;
    text-align: center;
}